<!-- Add your site or application content here -->
<header>
    <h1>doodle<span>:bug</span></h1>
</header>
<section id="bug-list" class="core-section">
    <h2>the doodles</h2>
    <table name="doodle-list" id="doodle-list" description="All available players for the game">
        <thead>
            <tr>
                <th class="sortable bugname">Doodle <a href="#">sort</a></th>
                <th class="sortable">Team <a href="#">sort</a></th>
                <th>Best rating</th>
                <th>Compare</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
</section>
<section id="compare-bugs" class="core-section">
    <h2>comparison</h2>
    <div id="comparison-area">
        <div id="comparisonBase"></div>
    </div>
</section>
