@import url( 'https://fonts.googleapis.com/css?family=Sansita+One');

body {
    background: url('../img/recipe-book-bg.png');
    background-size: cover;

    .application-title {
        font-family: 'Sansita One', cursive;
        font-size: 80px;
        text-align: center;
        text-shadow: 4px 4px #ff0000;
        color: #fff;
    }

  
}
